# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environments
.venv/
venv/
env/

# Jupyter
.ipynb_checkpoints/

# IDE / editor
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Local env files
.env

# Generated data
data/raw/*
!data/raw/.gitkeep

data/processed/*
!data/processed/.gitkeep

# Generated outputs
outputs/charts/*
!outputs/charts/.gitkeep

outputs/reports/*
!outputs/reports/.gitkeep
