# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environments
.venv/
venv/
env/

# Jupyter
.ipynb_checkpoints/

# IDE / editor
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Local env files
.env

# Keep raw data private / optional
data/raw/*
!data/raw/.gitkeep

# Keep processed data and final outputs visible to interviewer
